/*
  Positionnement du contenu principal de la page
*/
article article
{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
}

/*
  Personalisation de l'image du Rubik's Cube
*/
article img
{
	width: 20em;
	height: 20em;
	float: left;
	border-style: solid;
    border-radius: 0.5em;
}

/*
  Position de l'image du Rubik's Cube
*/
article section
{
	margin: 2em;
}

/*
  Position de la section contenu dans la balise aside
*/
article aside section
{
	margin-left: 22em;
	padding-left: 2em;
}

/* 
  En lever les amrgins par défault
*/
article aside section p
{
	margin-left: 0;
}

/* 
  Centrer les titres de la section aside
*/
article section aside h2
{
	text-align: center;
}

/*
  Format de la partie avec les informations principales du Rubik's Cube
*/
article section aside 
{
	height: 20em;
}

/*
  Bouton d'ajout rapide
*/
article section aside section button
{
	background-color: Gold;
	border-radius: 0.5em;
	padding: 0.5em;
	width: 10em;
	color:black;
}

/*
  Partie présentant le Rubik's Cube avec ses informations principales
*/
article aside p
{
	margin-left: 3em;
	line-height: 1.5em;
	text-align: justify;
}

/*
  Partie commentaire dédié aux utlisateurs
*/
article textarea
{
	width: 40em;
	height: 5em;
	display: block;
	margin-bottom: 2em;
	margin-left: 3em;
}

article button
/*
  Personalisation des boutons du formulaire
*/
{
  	border-radius: 0.5em;
  	background-color: DarkCyan;
  	padding: 0.5em;
  	margin-right: 1em;
}

article div
/*
  Position des boutons du formulaire
*/
{
  	margin-left: 8em;
}