article article
{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
}

article img
{
	width: 20em;
	height: 20em;
	float: left;
	border-style: solid;
    border-radius: 0.5em;
}

article section
{
	margin: 2em;
}

article aside section
{
	margin-left: 22em;
	padding-left: 2em;
}

article aside section p
{
	margin-left: 0;
}

article section aside h2
{
	text-align: center;
}

article section aside 
{
	height: 20em;
}

article section aside section button
{
	background-color: Gold;
	border-radius: 0.5em;
	padding: 0.5em;
	width: 10em;
	color:black;
}

article aside p
{
	margin-left: 3em;
	line-height: 1.5em;
	text-align: justify;
}

article iframe
{
	margin-left: 3em;
}

article textarea
{
	width: 40em;
	height: 5em;
	display: block;
	margin-bottom: 2em;
	margin-left: 3em;
}

article button
/*
  Mise en forme des boutons du formulaire
*/
{
  	border-radius: 0.5em;
  	background-color: DarkCyan;
  	padding: 0.5em;
  	margin-right: 1em;
}

article div
/*
  Mise en forme des boutons du formulaire
*/
{
  	margin-left: 8em;
}