article article
{
	margin: 2em;
	padding: 2em;
}

article img
{
	width: 20em;
	height: 20em;
	float: left;
}

article section
{
	margin: 2em;
}

article aside section
{
	margin-left: 22em;
	padding-left: 2em;
	border-left: 1px grey solid;
}

article section aside h2
{
	margin-left: 2em
}

article section aside 
{
	height: 20em;
}