/*
  Premier titre de chaque article
*/
article h1:first-child
{
    color: black;
    font-size: 2em;
    text-align: center;
}
/*
  Partie contenant les Rubik's Cube
*/
article article
{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
}

/*
  Enlever les margins par défaut
*/
article nav
{
    margin-left: 0;
}

/*
  idem
*/
article ul
{
    margin-left: 0;
}

/*
  idem
*/
article ul ul
{
    margin: 0;
}

/*
  Disposition de chaque Rubik's Cube
*/
article ul li
{
    display: inline-block;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 0;
}

/*
  Personalisation de l'image de Rubik's Cube (qui est un lien)
*/
article a
{
    text-decoration: none;
    color: black;
}

/*
  Placement de chaque Rubik's Cube sur la page
*/
article ul ul li
{
    width: 10em;
    text-align: center;
    margin-bottom: 2em;
}

/*
  Taille de l'ecriture du nom de chaque Rubik's Cube (standard)
*/
article ul li p
{
	font-size: 0.7em;
}

/*
  Description du produit : nom, prix, et bouton
*/
article ul ul li:nth-child(2)
{
    border-style: solid;
    border-radius: 0.5em;
    background-image: linear-gradient(grey,black);
    transform: translateY(-3em);
}

/*
  Nom du Rubik's Cube
*/
article ul ul li p:first-child
{
	color: YellowGreen;
}

/*
  Prix du Rubik's Cube
*/
article ul ul li p:nth-child(2)
{
	color: yellow;
	font-size: 0.8em;
}

/*
  Bouton d'achat rapide
*/
article ul ul li button
{
	background-color: Gold;
	border-radius: 0.5em;
	padding: 0.5em;
	color:black;
  width: 100%;
}

/*
  Au survol du bouton, on utilise une couleur sombre
*/
article ul ul li button:hover
{
	color:Crimson;
}

/*
  Mise en forme des images de Rubik's
*/
article img
{
    height: 10em;
    margin-right: 1em;
    border-style: solid;
    border-radius: 0.5em;
}