/*
  Personnalisation de lien (celui du site dans le paragraphe)
*/
article a
{
    text-decoration: none;
    color: black;
}

/*
  Titre de la section "Nos partenaires"
*/
article .title
{
    font-size: 25px;
    text-align: center;
}

/*
  Phrase écrite en minuscule car contenant des informations compromettante
*/
article #chut
{
    font-size: 0.5em;
    color: white;
}

/*
  Positionnement de chaque partenaires
*/
article ul
{
    text-align: justify;
}

/*
  Position de chaque nom et image des partenaires
*/
article li
{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

/*
  Personnalisation de chaque image des partenaires
*/
article img
{
    height: 10em;
    margin-right: 1em;
    border-style: solid;
    border-radius: 0.5em;
}

/*
  Personnalsiation du paragraphe principal de la page
*/
article p
{
    font-size: 1em;
    text-align: justify;
}

/*
  Personnalisation des noms des partenaires
*/
article nav p
{
    font-size: 20px;
    text-align: center;
}