article a
{
    text-decoration: none;
    color: black;
}

article .title
{
    font-size: 25px;
    text-align: center;
}

article #chut
{
    font-size: 0.5em;
    color: white;
}

article ul
{
    text-align: justify;
}

article li
{
    display: inline-block;
    max-height: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

article img
{
    height: 10em;
    margin-right: 1em;
}

article p
{
    font-size: 1em;
    text-align: justify;
}

article nav p
{
    font-size: 20px;
    text-align: center;
}