<<<<<<< HEAD
body
/*
  fond degrade meme avec le scroll
  affiche le scroll horizontal en cas de redimentionnement
  enleve la marge autour de l'ecran
*/
{
    background-image: linear-gradient(to right, rgb(60, 210, 170), rgb(50, 50, 100));
    background-attachment: fixed;
    min-width: 730px;
    width : 100%;
    margin: 0;
}


/*
  Debut de la barre d'onglets ---------------------------------------------------------------------------
*/
header
/*
  barre fixe tout en haut
  couleur de fond : noir transparent
  sur une seule ligne centree
  sur toute la largeur
  supporte le scroll horizontal
*/
{
    background-color: rgba(10, 10, 10, 0.4);
    background-attachment: absolute;
    position: absolute;
    text-align: center;
    top: 0;
    min-width: 730px;
    width: 100%;
    display: inline;
    white-space: nowrap;
    height: 3.3em;
}

.menu
/*
  laisse un espace a droite afin d'equilibrer avec l'espace de gauche sur les petites resolutions
*/
{
    padding-right: 2em;
}

.menu a
/*
  mise en forme du texte des noms d'onglets
  gestion de la largeur entre les onglets
  gestion des ecarts entre les noms d'onglets
*/
{
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-size: 1em;
    display: block;
    font-family: arial;
    margin-left: 1em;
    margin-right: 1em;
}

.menu li
/*
  affiche le nom des onglets sur une seule ligne
*/
{
    display: inline-block;
}

.menu li input
/*
 mise en forme de l'onglet de recherche
*/ 
{
    width: 10em;
    text-align: left;
    font-family: Times;
    margin-left: 1em;
    margin-right: 0em;
    border-radius: 0.5em;
    border: none;
    border-width: 1px;
}

button
/*
mise en forme du bouton
*/
{
    background-color: transparent;
    font-size:14px;
    border:none;
    color:white;

}

.menu li a
/*
 mise en forme de l'écriture du menu 
*/
{
    font-family: Times;

}

.menu li button
/*
 mise en forme du bouton  de l'onglet de recherche
*/
{
    font-family: arial;
    margin-left: 0em;
    margin-right: 1em;
}

.menu ul a
/*
  gere l'espace entre les lignes du sous-menu
  gere la taille des cellules du sous-menu
*/
{
    padding: 0.6em;
    margin-left: 0em;
    margin-right: 0em;
}

.categories
/*
  donne la meme largeur a l'onglet et son sous-menu
*/
{
    width: 6em;
    text-align: center;
}

.menu ul
/*
  garde les onglets fixes au meme niveau
  rend nulle la taille du sous-menu
  aligne le sous-menu avec son onglet
  gere la transition du sous-menu
  place le sous-menu juste en dessous de la barre d'onglets
*/
{
    position: absolute;
    max-height: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    left: 50%;
    top: 52.5px;
    transform: translate(-50%)
}

.menu li:hover ul
/*
  permet au sous-menu de s'afficher de nouveau
*/
{
    max-height: 5em;
}

.sous-menu li
/*
  donne au sous-menu la meme couleur de fond que la barre d'onglets
  met les elements du sous-menu les uns en dessous des autres
*/
{
    background-color: rgba(10, 10, 10, 0.4);
    display: block;
}

.menu a:hover
/*
  rend la couleur de l'element selectionne plus blanc que par defaut
*/
{
    color: rgb(255, 255, 255);
}
/*
  Fin de la barre d'onglets
*/


/*
  Debut du mileu de page -------------------------------------------------------------------------------------
*/
article
/*
  place le milieu de page en dessous de la barre d'onglets
  lui donne ses caracteristiques principales
*/
{
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 1em;
    padding-bottom: 1em; 
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 8em;
}

article a
{
    text-decoration: none;
    color: black;
}

article p
{
    font-size: 25px;
}

article nav p
{
    text-align: center;
}

#chut
{
    font-size: 15px;
    color: white;
}

article li
{
    display: inline-block;
    max-height: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

article img
{
    height: 10em;
}
/*
  Fin du mileu de page
*/


/*
  Debut du pied de page -------------------------------------------------------------------------------------
*/
footer
/*
  centre les elements principaux
  place le pied de page en fin de page
  lui donne toute la largeur de l'ecran
  l'ecarte du milieu de page
  lui donne sa couleur de fond
*/
{
    text-align: center;
    min-width: 730px;
    width: 100%;
    margin-top: 4em;
    background-color: rgba(10, 10, 10, 0.4);
}

footer a
/*
  lui permet de prendre toute la largeur
  change la couleur de fond sur toute la zone
  met le texte en blanc sans ajouts
*/
{
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(10, 10, 10, 0.4);
}
/*
  Fin du pied de page
=======
body
/*
  fond degrade meme avec le scroll
  affiche le scroll horizontal en cas de redimentionnement
  enleve la marge autour de l'ecran
*/
{
    background-image: linear-gradient(to right, rgb(60, 210, 170), rgb(50, 50, 100));
    background-attachment: fixed;
    min-width: 730px;
    width : 100%;
    margin: 0;
}


/*
  Debut de la barre d'onglets ---------------------------------------------------------------------------
*/
header
/*
  barre fixe tout en haut
  couleur de fond : noir transparent
  sur une seule ligne centree
  sur toute la largeur
  supporte le scroll horizontal
*/
{
    background-color: rgba(10, 10, 10, 0.4);
    background-attachment: fixed;
    position: absolute;
    text-align: center;
    top: 0;
    min-width: 730px;
    width: 100%;
    display: inline;
    white-space: nowrap;
    height: 3.3em;
}

.menu
/*
  laisse un espace a droite afin d'equilibrer avec l'espace de gauche sur les petites resolutions
*/
{
    padding-right: 2em;
}

.menu a
/*
  mise en forme du texte des noms d'onglets
  gestion de la largeur entre les onglets
  gestion des ecarts entre les noms d'onglets
*/
{
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-size: 1em;
    display: block;
    font-family: arial;
    margin-left: 1em;
    margin-right: 1em;
}

.menu li
/*
  affiche le nom des onglets sur une seule ligne
*/
{
    display: inline-block;
}

.menu li input
/*
 mise en forme de l'onglet de recherche
*/ 
{
    width: 10em;
    text-align: left;
    font-family: Times;
    margin-left: 1em;
    margin-right: 0em;
    border-radius: 0.5em;
    border: none;
    border-width: 1px;
}

button
/*
mise en forme du bouton
*/
{
    background-color: transparent;
    font-size:14px;
    border:none;
    color:white;

}

.menu li a
/*
 mise en forme de l'écriture du menu 
*/
{
    font-family: Times;

}

.menu li button
/*
 mise en forme du bouton  de l'onglet de recherche
*/
{
    font-family: arial;
    margin-left: 0em;
    margin-right: 1em;
}

.menu ul a
/*
  gere l'espace entre les lignes du sous-menu
  gere la taille des cellules du sous-menu
*/
{
    padding: 0.6em;
    margin-left: 0em;
    margin-right: 0em;
}

.categories
/*
  donne la meme largeur a l'onglet et son sous-menu
*/
{
    width: 6em;
    text-align: center;
}

.menu ul
/*
  garde les onglets fixes au meme niveau
  rend nulle la taille du sous-menu
  aligne le sous-menu avec son onglet
  gere la transition du sous-menu
  place le sous-menu juste en dessous de la barre d'onglets
*/
{
    position: absolute;
    max-height: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    left: 50%;
    top: 52.5px;
    transform: translate(-50%)
}

.menu li:hover ul
/*
  permet au sous-menu de s'afficher de nouveau
*/
{
    max-height: 5em;
}

.sous-menu li
/*
  donne au sous-menu la meme couleur de fond que la barre d'onglets
  met les elements du sous-menu les uns en dessous des autres
*/
{
    background-color: rgba(10, 10, 10, 0.4);
    display: block;
}

.menu a:hover
/*
  rend la couleur de l'element selectionne plus blanc que par defaut
*/
{
    color: rgb(255, 255, 255);
}
/*
  Fin de la barre d'onglets
*/


/*
  Debut du mileu de page -------------------------------------------------------------------------------------
*/
article
/*
  place le milieu de page en dessous de la barre d'onglets
  lui donne ses caracteristiques principales
*/
{
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 1em;
    padding-bottom: 1em; 
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 8em;
}

article a
{
    text-decoration: none;
    color: black;
}

article .title
{
    font-size: 25px;
    text-align: center;
}

#chut
{
    font-size: 15px;
    color: white;
}

article li
{
    display: inline-block;
    max-height: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

article img
{
    height: 10em;
}
/*
  Fin du mileu de page
*/


/*
  Debut du pied de page -------------------------------------------------------------------------------------
*/
footer
/*
  centre les elements principaux
  place le pied de page en fin de page
  lui donne toute la largeur de l'ecran
  l'ecarte du milieu de page
  lui donne sa couleur de fond
*/
{
    text-align: center;
    min-width: 730px;
    width: 100%;
    margin-top: 4em;
    background-color: rgba(10, 10, 10, 0.4);
}

footer a
/*
  lui permet de prendre toute la largeur
  change la couleur de fond sur toute la zone
  met le texte en blanc sans ajouts
*/
{
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(10, 10, 10, 0.4);
}
/*
  Fin du pied de page
>>>>>>> a0cd59151eb6643d47b6b3989034a7810b6438ae
*/