article form input
/*
 Disposition en block des critères propres à l'utilisateur
*/
{
  display: block;

}

article fieldset
/*
  Gestion de l'espace entre les 2 partie du formulaire
*/
{
	margin-top:3em;
	border-style: dotted;
	border-radius: 0.5em;
	border-color:RoyalBlue;

}

article fieldset p input
/*
  Mettre sur une seule ligne la question ainsi que les boutons "oui ou "non"
*/
{
  display: inline;
}

article legend
/*
  Ajout de bord sur les legend du formulaire
*/
{
	background-color: SteelBlue;
	border-radius:0.5em;
	padding: 0.3em;
}

article button
/*
  Personalisation des boutons du formulaire
*/
{
  border-radius: 0.5em;
  background-color: DarkCyan;
  padding: 0.5em;
}