article a
{
    text-decoration: none;
    color: black;
}

article ul li ul li
{
    display: block;
    text-align: center;
}

article ul li
{
    display: inline-block;
    margin-right: 1em;
}

article ul
{
    text-align: auto;
}

article img
{
    height: 10em;
    margin-right: 1em;
}