body
{
    background-color : yellow;
}

header
{
    background-color : purple;
    position : absolute;
    top : 0px;
    left : 0px;
    width : 100%;
    display : inline;
}

header li
{
	display : inline;
	padding-left : 1em;
	padding-right : 1em;
}

header li:nth-child(2)
{
	border-left : 1px black solid;
	border-right : 1px black solid;
}

footer 
{
	margin-top: 40%;
}
footer ul li 
{
	display : block;
	padding-right : 1em;
}