body
/*
  fond degrade
*/
{
    background : linear-gradient(to right, rgb(60, 210, 170), rgb(50, 50, 100));
}


/*
  Debut de la barre d'onglets ---------------------------------------------------------------------------
*/
header
/*
  barre fixe tout en haut
  couleur de fond : noir transparent
  sur une seule ligne centree
  sur toute la largeur
*/
{
    background-color : rgba(10, 10, 10, 0.4);
    position : fixed;
    text-align : center;
    top : 0px;
    left : 0px;
    width : 100%;
    display : inline;
    white-space : nowrap;
}

#menu li
/*
  affiche le nom des onglets sur une seule ligne
*/
{
    display : inline-block;
}

#menu a
/*
  mise en forme du texte des noms d'onglets
  gestion de la largeur entre les onglets
  gestion des ecarts entre les noms d'onglets
*/
{
    text-decoration : none;
    color : rgb(220, 220, 220);
    font-size : 1em;
    display : block;
    font-family : arial;
    margin-left : 1em;
    margin-right : 1em;
}

#menu ul a
/*
  gere l'espace entre les lignes du sous-menu
  gere la taille des cellules du sous-menu
*/
{
    padding : 0.6em;
    margin-left : 0em;
    margin-right : 0em;
}

#categories
/*
  donne la meme largeur a l'onglet et son sous-menu
*/
{
    width : 6em;
    text-align : center;
}

#menu ul
/*
  garde les onglets fixes au meme niveau
  rend nulle la taille du sous-menu
  aligne le sous-menu avec son onglet
  gere la transition du sous-menu
*/
{
    position : absolute;
    max-height : 0;
    overflow : hidden;
    -moz-transition : .8s all .3s;
    -webkit-transition : .8s all .3s;
    transition : .8s all .3s;
    left : 48%;
    transform : translate(-50%)
}

#menu li:hover ul
/*
  permet au sous-menu de s'afficher de nouveau
*/
{
    max-height : 15em;
}

#sous-menu
/*
  place le sous-menu juste en dessous de la barre d'onglets
*/
{
    margin-top : 1em;
}

#sous-menu li
/*
  donne au sous-menu la meme couleur de fond que la barre d'onglets
  met les elements du sous-menu les uns en dessous des autres
*/
{
    background-color : rgba(10, 10, 10, 0.4);
    display : block;
}

#menu a:hover
/*
  rend la couleur de l'element selectionne plus blanc que par defaut
*/
{
    color : rgb(255, 255, 255);
}
/*
  Fin de la barre d'onglets
*/


/*
  Debut du mileu de page -------------------------------------------------------------------------------------
*/
section
/*
  place le milieu de page en dessous de la barre d'onglets
  lui donne ses caracteristiques principales
*/
{
    background-color : rgba(255, 255, 255, 0.3);
    margin-left : 8%;
    margin-right : 8%;
    padding-top : 1em;
    padding-bottom : 1em; 
    padding-left : 2em;
    padding-right : 2em;
    margin-top : 125px;
}
/*
  Fin du mileu de page
*/


/*
  Debut du pied de page -------------------------------------------------------------------------------------
*/
footer
{
	  margin-top : 4em;
}

footer ul li 
{
	  display : block;
	  padding-right : 1em;
}
/*
  Fin du pied de page
*/